VITE_FIREBASE_API_KEY=AIzaSyCNlQlc7bnRiU0tBLETUZix_WAePBPGPXg
VITE_FIREBASE_AUTH_DOMAIN=health-6e758.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=health-6e758
VITE_FIREBASE_APP_ID=1:1023923762253:web:731cabf676c80121f49804

